@page
@model IndexModel
@inject IHttpContextAccessor contxt;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li> Email: @contxt.HttpContext.Session.GetString("Email")</li>
        <li> Password: @contxt.HttpContext.Session.GetString("Password")</li>
    </ul>
</div>
