@page
@model WebApplication3.Pages.RegisterModel
@{
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="mb-3">Register </h1>

			<form method="post" enctype="multipart/form-data">
				<div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegisterM.FullName">Full Name</label>
                    <input type="text" asp-for="RegisterM.FullName" class="form-control" />
                    <span asp-validaton-for="RegisterM.FullName" class="text-danger"></span>
                </div>

				<div class="mb-3">
					<label class="form-label" asp-for="RegisterM.Email">Email Address</label>
					<input type="text" asp-for="RegisterM.Email" class="form-control" />
					<span asp-validaton-for="RegisterM.Email" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RegisterM.MobileNumber">Mobile Number</label>
					<input type="tel" asp-for="RegisterM.MobileNumber" class="form-control" />
					<span asp-validaton-for="RegisterM.MobileNumber" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RegisterM.Password">Password</label>
					<input type="text" asp-for="RegisterM.Password" onkeyup="checkpassword()" class="form-control" />
					<span asp-validaton-for="RegisterM.Password" class="text-danger"></span>
				</div>
				<p id="passwordError"></p>
				<div class="mb-3">
					<label class="form-label" asp-for="RegisterM.ConfirmPassword">Confirm Password</label>
					<input type="text" asp-for="RegisterM.ConfirmPassword" class="form-control" />
					<span asp-validaton-for="RegisterM.ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="form-label">Gender</label>
					<select asp-for="RegisterM.Gender" class="form-control">
						<option value="Male">Male</option>
						<option value="Female">Female</option>
						<option value="Others">Others</option>
						<option value="Prefer to not Declare">Prefer to not Declare</option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RegisterM.CreditCard">Credit Card</label>
					<input type="text" asp-for="RegisterM.CreditCard" class="form-control" />
					<span asp-validaton-for="RegisterM.CreditCard" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="form-label" asp-for="RegisterM.DeliveryAddress">Delivery Address</label>
					<input type="Text" asp-for="RegisterM.DeliveryAddress" class="form-control" />
					<span asp-validaton-for="RegisterM.DeliveryAddress" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RegisterM.AboutMe">About Me</label>
					<input type="text" asp-for="RegisterM.AboutMe" class="form-control" />
					<span asp-validaton-for="RegisterM.AboutMe" class="text-danger"></span>
				</div>


				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	function checkpassword() {
		var PasswordChecker = document.getElementById('RegisterM_Password').value;

		if (PasswordChecker.length < 12) {
			document.getElementById("passwordError").innerHTML = "Your Password needs to be at least 12 Characters";
			document.getElementById("passwordError").style.color = "Red";
		}

		else if (!/[A-Z]/.test(PasswordChecker)) {
			document.getElementById("passwordError").innerHTML = "Your Password needs to have at least ONE Uppercase Letter";
			document.getElementById("passwordError").style.color = "Red";
		}

		else if (!/[a-z]/.test(PasswordChecker)) {
			document.getElementById("passwordError").innerHTML = "Your Password needs to have at least ONE Lowercase Letter";
			document.getElementById("passwordError").style.color = "Red";
		}

		else if (!/\d/.test(PasswordChecker)) {
			document.getElementById("passwordError").innerHTML = "Your Password needs to have at least ONE Digit";
			document.getElementById("passwordError").style.color = "Red";
		}

		else if (!/[^a-zA-Z0-9]/.test(PasswordChecker)) {
			document.getElementById("passwordError").innerHTML = "Your Password needs to have at least ONE Special Character";
			document.getElementById("passwordError").style.color = "Red";
		}
		else {
			document.getElementById("passwordError").innerHTML = "";
		}
	}
</script>